<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Купи продай</title>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<script>
  console.log('%c Зупиніться! Вам сюди неможна! ', 'background: #222; color: red; font-size: 55px');
</script>
<div id="app">
  <div id=''></div>
</div>
</body>
</html>
